<html>

<iframe src="https://open.spotify.com/embed/playlist/5c80tWKQ1LRPgKqCTEcYKl" width="100%" height="380" frameBorder="0" allowtransparency="true" allow="encrypted-media" data-external="1"></iframe>

<iframe src="https://open.spotify.com/embed/playlist/2X6yRUJ8L0fGif3fdAii51" width="100%" height="380" frameBorder="0" allowtransparency="true" allow="encrypted-media" data-external="1"></iframe>

</html>
